@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}
iframe#frame-spec{
    width: 430px;
    height: 280px;
    border: none;
    overflow: hidden;
    margin-bottom: 0px;
}
iframe#frame-spec::-webkit-scrollbar{
    display: none;
}
button a{
    text-decoration: none;
    color: white;
}
button{
    text-align: center;
    float: right;
    margin-bottom: 50px;
    margin-top: 0px;
}